body {
  margin: 0;
  font-family: maajaregular;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "maajaregular";
  src: url("maaja_ver_1.00-webfont.woff2") format("woff2"),
    url("maaja_ver_1.00-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
