body {
  margin: 0;
  font-family: maaja
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'maaja';
  src: local('maaja'), url(./fonts/maaja_ver_1.00.ttf) format('tff');
}